.date {
  min-width: 170px;
  height: 50%;
  font-size: 1rem;
  text-align: center;
  box-sizing: border-box;
  border-color: black;
  border-style: solid;
  border-width: 2px 2px 2px 0;
  border-radius: 0 5px 5px 0;
}

.react-date-picker__wrapper {
  border: none;
}